AIC to be added to doenut.oy

In [2]:

# calculate akaike information criterion for a linear regression model
from math import log
from sklearn.datasets import make_regression
from sklearn.line`ar_model import LinearRegression
from sklearn.metrics import mean_squared_error
 
# calculate aic for regression
def calculate_aic(n, mse, num_params):
	aic = n * log(mse) + 2 * num_params
	return aic

# calculate bic for regression
def calculate_bic(n, mse, num_params):
	bic = n * log(mse) + num_params * log(n)
	return bic
 
# generate dataset
X, y = make_regression(n_samples=100, n_features=2, noise=0.1)
# define and fit the model on all data
model = LinearRegression()
model.fit(X, y)
# number of parameters
num_params = len(model.coef_) + 1
print('Number of parameters: %d' % (num_params))
# predict the training set
yhat = model.predict(X)
# calculate the error
mse = mean_squared_error(y, yhat)
print('MSE: %.3f' % mse)
# calculate the aic
aic = calculate_aic(len(y), mse, num_params)
print('AIC: %.3f' % aic)

Number of parameters: 3
MSE: 0.011
AIC: -442.128

In [27]:
N = 22
rmse = 6.1168
num_params = N - 16
calculate_aic(n=N, mse=rmse * 2, num_params=num_params)

67.09209781943903

In [30]:
import numpy as np

x = [76, 75, 75]
print(np.mean(x))
print(np.std(x) / np.sqrt(4))
print(np.std(x))

75.33333333333333
0.23570226039551584
0.4714045207910317

In [31]:
84 - 75

9

In [32]:
82 - 61

21

In [38]:
np.mean([32, 42])

37.0

In [33]:
82 - 50

32

In [34]:
82 - 40

42

In [35]:
88 - 60

28

In [6]:
from designer import frac_fact_res_designer

levels = {
    "a": [-1, 1],
    "b": [-1, 1],
    "c": [-1, 1],
    "d": [-1, 1],
    "e": [-1, 1],
    "f": [-1, 1],
}

frac_fact_res_designer(
    levels=levels,
    res=3,
    do_midpoints=True,
    shuffle=True,
    repeats=1,
    num_midpoints=3,
)

      a    b    c    d    e    f
8   0.0  0.0  0.0  0.0  0.0  0.0
6  -1.0  1.0  1.0 -1.0 -1.0  1.0
1   1.0 -1.0 -1.0 -1.0 -1.0  1.0
3   1.0  1.0 -1.0  1.0 -1.0 -1.0
0  -1.0 -1.0 -1.0  1.0  1.0  1.0
4  -1.0 -1.0  1.0  1.0 -1.0 -1.0
5   1.0 -1.0  1.0 -1.0  1.0 -1.0
9   0.0  0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0
7   1.0  1.0  1.0  1.0  1.0  1.0
2  -1.0  1.0 -1.0 -1.0  1.0 -1.0